NODE_ENV=development
PORT=3000
HOST=0.0.0.0
XRPL_SERVER=wss://s.altnet.rippletest.net:51233
XRPL_EXPLORER_BASE_URL=https://testnet.xrpl.org
MISSION_STORE_PATH=./data/missions.json
ADMIN_API_KEY=change-me
XRPL_SETTLEMENT_SEED=
XRPL_TREASURY_SEED=
XRPL_COMPANY_SEED=
USE_MOCK_XRPL=false
ALLOW_DEMO_WALLETS=true
DEFAULT_ESCROW_FINISH_AFTER_SECONDS=10
DEFAULT_ESCROW_CANCEL_AFTER_SECONDS=600
